.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.vscode
FoodInsecurityGIS/out/*
node_modules/*
data/blockGroups.json
data/blocks.json
data/nhgis0004_ds172_2010_block.csv